.container {
  width: 1280px;
  margin: 0 auto;
  background-color: black;
  border-radius: 10px;
}

body {
  background-color: #ed1d24;
  color: white;
  font-family: "Marvel", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}

.main {
  box-shadow: 0px 0px 10px 1px #b5b5b5;
  margin-bottom: 40px;
}

.container-home {
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./img/wallpaper.jpg);
}

.container-home img {
  background-color: black;
  border-radius: 10px;
  padding: 50px;
}

/* ======================================================================== */
/* ======================================================================== */
/* ===============================  HEADER  =============================== */
/* ======================================================================== */
/* ======================================================================== */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  background-color: #ed1d24;
}

.header-input {
  height: 30px;
  width: 30%;
  padding-left: 20px;
  border-radius: 5px;
  border: white 0px solid;
}

.header-right {
  display: flex;
  align-items: center;
  width: 40%;
}

.header a {
  color: white;
}

.header img {
  width: 250px;
  height: 100%;
  object-fit: cover;
  margin-left: 50px;
}

.header-right p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 30px;

  height: 40px;
  width: 100px;
  background-color: black;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px #b5b5b5;
}

.pagination-container {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

/* ======================================================================== */
/* ======================================================================== */
/* ===============================  CHARACTERS  =========================== */
/* ======================================================================== */
/* ======================================================================== */

.container-loader {
  width: 1280px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.character-big-block {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 30px auto;
}

.character-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 400px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  background-color: white;
  padding: 10px;
}

.character-block img {
  height: 150px;
  width: 100px;
  object-fit: cover;
  border-radius: 10px;
  margin: 10px auto;
}

.character-block p {
  color: black;
}

.name {
  font-size: 20px;
  margin: 10px 0;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  flex-grow: 1;
  overflow-y: auto;
  max-height: 130px;
  padding: 10px;
}

/* ======================================================================== */
/* ======================================================================== */
/* ====================  CHARACTERS COMICS  =============================== */
/* ======================================================================== */
/* ======================================================================== */

.character-comic-block {
  border-radius: 10px;
  background-color: black;
  padding: 20px;
  margin: 20px auto;
  box-shadow: 0px 0px 10px 1px #b5b5b5;
}

.top-character {
  width: 100%;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.top-character p {
  font-size: 60px;
  color: black;
  margin: 0;
}

.one-character {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-character img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.favorite-character {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-character button {
  width: 300px;
  max-width: 250px;
  margin-top: 20px;
  background-color: black;
  color: white;
  border-radius: 5px;
  height: 40px;
  border: none;
  cursor: pointer;
}

.top-character button:hover {
  background-color: #555;
}

.character-comic-block {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.character-comic {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 250px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  padding: 10px;
}

.character-comic img {
  padding-top: 10px;
  height: 150px;
  width: auto;
  max-width: 100px;
  object-fit: cover;
  border-radius: 10px;
  margin: 10px auto;
}

.character-comic p {
  font-size: 16px;
  color: black;
  margin: 10px 0;
  height: 32px;
}

.container-loader {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ======================================================================== */
/* ======================================================================== */
/* ===============================  COMICS  =============================== */
/* ======================================================================== */
/* ======================================================================== */

.comic-big-block {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 30px auto;
}

.comic-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 400px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  background-color: white;
}

.comic-block img {
  height: 150px;
  width: 100px;
  object-fit: cover;
  border-radius: 10px;
  margin: 10px 0;
}

.comic-block p {
  color: black;
}

.title {
  font-size: 20px;
  margin: 10px 0;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ======================================================================== */
/* ======================================================================== */
/* ===============================  COMIC ================================= */
/* ======================================================================== */
/* ======================================================================== */

.comic-comic-block {
  border-radius: 10px;
}

.top-comic {
  width: 100%;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  background-color: #f9f9f9;
  border-radius: 10px 10px 0 0;
  flex-wrap: wrap;
}

.top-comic p {
  font-size: 70px;
  color: black;
}

.comic-comic-block img {
  height: 300px;
  width: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.comic-description {
  font-size: 30px;
  padding: 30px;
}

.favorite-comic {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favorite-comic button {
  width: 300px;
  max-width: 250px;
  margin-top: 20px;
  background-color: black;
  color: white;
  border-radius: 5px;
  height: 40px;
  border: none;
  cursor: pointer;
}

.favorite-comic button:hover {
  background-color: #555;
}

/* ======================================================================== */
/* ======================================================================== */
/* =============================  FAVORITES  ============================== */
/* ======================================================================== */
/* ======================================================================== */

.favorites-block {
  border-radius: 10px;
  background-color: black;
  padding: 20px;
  margin: 20px auto;
  box-shadow: 0px 0px 10px 1px #b5b5b5;
}
.favorites {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  font-size: 40px;
  background-color: white;
  color: black;
  border-radius: 10px;
}

.favorite-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 250px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  padding: 10px;
}

.favorite-cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 20px;
}

.favorite-card img {
  height: 150px;
  width: auto;
  max-width: 100px;
  object-fit: cover;
  border-radius: 10px;
  margin: 10px auto;
}

.favorite-card p {
  font-size: 16px;
  color: black;
  margin: 10px 0;
  height: 32px;
}

.delete {
  width: 100px;
  background-color: black;
  color: white;
  border-radius: 5px;
  height: 40px;
  border: none;
  cursor: pointer;
}

.delete:hover {
  background-color: #555;
}

.no-fav {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
}
